
body{
    background-color: #f3f3f5;
    font-family: cursive;
}
.container{
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.container h1{
    text-align: center;
}
.box{
    display:flex;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    text-wrap: wrap;
}
.contante{
    width: 80%;
    height: auto;
    border: 2px solid black;
    box-shadow: 10px 10px 10px 0 rgb(133, 133, 133);
}
img{
    max-width: 40%;
    height: auto;
    object-fit: contain;
    display: flex;
    justify-content: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }